aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio==4.10.0
anywidget
appnope
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens
async-lru==2.0.5
attrs
babel==2.17.0
beautifulsoup4
bleach==6.2.0
blinker
bqplot
branca
cachetools==5.5.2
certifi
cffi
charset-normalizer
click
colour
comm
contourpy==1.3.3
cryptography
cycler
debugpy
decorator
defusedxml==0.7.1
distro
earthengine-api==1.6.10
eerepr
exceptiongroup
executing
fastjsonschema==2.21.2
ffmpeg-python
filelock
Flask==2.3.3
Flask-Cors==4.0.0
folium
fonttools
fqdn==1.5.1
frozendict
frozenlist
future
gdown
geeadd
geemap==0.28.2
geocoder
geographiclib==2.1
geojson
geopy==2.4.1
google-api-core
google-api-python-client
google-auth==2.23.4
google-auth-httplib2
google-cloud-core
google-cloud-storage==2.14.0
google-crc32c
google-genai==1.38.0
google-resumable-media
googleapis-common-protos
h11==0.16.0
httpcore==1.0.9
httplib2
httpx==0.28.1
idna
importlib_metadata
ipyevents==2.0.4
ipyfilechooser
ipykernel
ipyleaflet
ipython
ipython_pygments_lexers
ipytree
ipywidgets
isoduration==20.11.0
itsdangerous
jedi
Jinja2
joblib==1.5.1
json5==0.12.1
jsonpatch
jsonpointer==2.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-leaflet
jupyter-lsp==2.3.0
jupyter_client
jupyter_core
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets
kiwisolver==1.4.9
lark==1.3.0
logzero
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
Mesa==3.0.0
mistune==3.1.4
multidict
munkres==1.1.4
narwhals
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.3.2
packaging
pandas
pandocfilters==1.5.1
parso
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
prometheus_client==0.23.1
prompt_toolkit
propcache
proto-plus
protobuf==6.32.1
psutil
psygnal
ptyprocess==0.7.0
pure_eval
pyasn1
pyasn1_modules
pycparser
PyCRS
pydantic
pydantic_core
Pygments
pyOpenSSL
pyparsing==3.2.3
pyperclip
pyshp
PySocks
python-box
python-dateutil
python-dotenv==1.0.0
python-json-logger==3.3.0
pytz==2025.2
pyu2f
PyYAML==6.0.3
pyzmq
ratelim
referencing==0.36.2
requests
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich
rpds-py==0.27.1
rsa
ruamel.yaml
ruamel.yaml.clib
scikit-learn==1.7.1
scipy==1.16.1
scooby
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==78.1.1
six
sniffio==1.3.1
soupsieve
stack_data
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml
tornado
tqdm
traitlets
traittypes
truststore
types-python-dateutil==2.9.0.20250822
typing-inspection
typing_extensions
tzdata
uri-template==1.3.0
uritemplate
urllib3
wcwidth
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug
wheel==0.45.1
widgetsnbextension
wrapt
xyzservices
yarl
zipp
zstandard
